.boder{
    border: 5px solid rgb(0, 0, 59);
   background-color: rgb(213, 213, 217);
}




.imgg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 140px;
    display: inline-block;
}
.img{
    width: 210px;
    vertical-align: bottom;
    margin-left: 150px;
    margin-top: 70px;
    display: inline-block;
}



.heading{
  color: rgb(1, 1, 54);
  display: inline-block;
  width: 400px;
  
}
.h1{
margin-top: 30px;
margin-bottom: 0px;
margin-left: 40px;

}
.h2{
font-size: 12px;
margin-left: 290px;
margin-bottom: 5px;
margin-top: 1px;
}
.contant{
    margin-bottom: 0%;
    width: 600px;
    margin-left:150px ;
    font-family: link rel="preconnect" href="https://fonts.googleapis.com"
    link rel="preconnect" href="https://fonts.gstatic.com" crossorigin
    link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet"
    

    
}
.list{
    color: rgb(5, 5, 67);
    margin-top: 50px;
    width: 450px;
    margin-left:px ;
    font-family: link rel="preconnect" href="https://fonts.googleapis.com"
link rel="preconnect" href="https://fonts.gstatic.com" crossorigin
    link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet"
}
 
.last{
    font-size: 12px;
    margin-top: 50px;
    margin-left: 570px;
}